@import "reset";
@import "castom";


body {
  font-family: "Lato, Montserrat", serif;
  font-style: normal;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  // padding: 0 10px;
}

.navigation {
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

}

.logo {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.logo_brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(29, 139, 204);
}

.buttonsystem {
margin-right: 20px;
margin-top: 50px;
border: transparent;
border-radius: 20px;
width: 200px;
height: 100px;
background-color: #44c7bb;
color: white;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 17px;
line-height: 17px;
}

.fieldcards {
  background-color: lightgray;
  border-radius: 10px;
  min-height: 300px;
  padding-top: 50px;
}








